.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  /* background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); */
}

.form-container form {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border: 1px solid rgb(112, 4, 131);
  padding: 20px;
  width: 400px;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container form input {
  border-radius: 0;
  border: none;
  outline: none !important;
}
.passInput {
  border-radius: 0;
  background-color: white !important;
  display: flex;
  border: 1px solid rgb(112, 4, 131);
  outline: none !important;
  padding-right: 5px;
}
.form-container form button {
  border: 1px solid rgb(112, 4, 131);
  border-radius: 0;
  background-color: white;
  color: black;
  width: 100%;
}

.form-container form button:hover {
  background-color: rgb(112, 4, 131);
  border: none;
  color: white;
  border: 1px solid rgb(112, 4, 131);
}
